# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
assn_tracker/assn_tracker.opensdf
*.sdf
assn_tracker/assn_tracker.sln
*.suo
assn_tracker/assn_tracker/assn_tracker.vcxproj.filters
*.vcxproj
*.log
assn_tracker/assn_tracker/Debug/assn_tracker.tlog/assn_tracker.lastbuildstate
*.tlog
assn_tracker/assn_tracker/Debug/main.obj
*.idb
*.ilk
assn_tracker/Debug/assn_tracker.pdb
*.pdb
*.obj
*.aps
assn_tracker/assn_tracker/assn_tracker.rc
*.res
